@import './app/style/variables';

.bankCard {
  background: white;
  border-radius: 4px;
  margin-bottom: 1em;
  padding: .5rem .75rem;
  position: relative;
}
.bankName {
  color: #4B96AC;
  font-size: 18px;
  width: 100%;
  overflow: hidden;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
.bankType{
  font-size: 14px;
  color: #666;
  margin-bottom: 0.5rem;
}
.bankNum{
  font-size: 13px;
  color: #666;
  margin-bottom: 0.5rem;
}

.labelActive{
  font-size: 12px;
  font-weight: bold;
  background: $primary;
  color: white;
  display: inline-block;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
}
.labelVerification{
  font-size: 12px;
  font-weight: bold;
  background: $warning;
  color: white;
  display: inline-block;
  padding: 0.2em 0.4em;
  border-radius: 0.4em;

}
