@import '../../../globalStyle/variables';

.Header {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.Title {
  font-weight: 300;
}

.Info {
  font-weight: 300;
  color:$text-grey;

  span{
    margin-right: 0.5em;
  }
}
