.caseinfobg{
    background: rgba(227, 230, 232, 0.25);
    padding-top: 1.5em;
    min-height: 625px;
}

.pageheader {
    font-size: 20px;
    font-weight: normal;
}

.pageScaffoldingHeader {
    font-size: 14px;
}
.tableWrapRow {
    margin: 1rem 0;
}
.tableWrapCol {
    border: 1px solid #D2D2D2;
    background: white;
}

.casesTable {
    margin-top: 1rem;
    padding: 0.75rem;

    th {
        border-top: none 0;
    }

    thead th {
        border-bottom: 2px solid #52C2AF;
    }

    td {
        vertical-align: middle;
        border-top: 0px none;
        border-bottom: 1px dashed #bcbcbc;
    }

    .childrenCol{
        font-size: 0.85em;
        .childrenWrap{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
        }
    }
}