.addcasebg {
    background: rgba(227, 230, 232, 0.25);
    padding-top: 1.5em;
    min-height: 625px;
}

.indent{
    padding-left: 2em;
    position: relative;

    &:after{
        display: block;
        content: ' ';
        width: 2em;
        height: 21px;
        position: absolute;
        top: 0px;
        left: 0px;
        border-left: 1px dashed darken(#ced4da, 2);
        border-bottom: 1px dashed #ced4da;
    }
}